{% extends 'backoffice/base.html'%}
{% block title  %} Search Url Data {% endblock title%}
{% block admin_name  %} {{admin_name}} {% endblock admin_name%}
{% block page_title  %} Change Password  {% endblock page_title%}
{% block active_title  %} Change Password  {% endblock active_title%}
{% block body%}
<section class="content">
    <div class="container-fluid">
        Change Password
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
              <!-- general form elements -->
              <div class="card card-primary">
                <form action="/submitChangePassword" method="post" id="change-password-form">
                    {% csrf_token %}
                    <div class="card-body">
                        <div class="row">
                            <span style="color: green">{{msg}}</span>
                            <div class="col-md-10">
                                <div class="form-group">
                                    <label>Password:</label>
                                    <div class="input-group date">
                                        <input type="password" class="form-control" name = "password" id="password" required>
                                    </div>
                                    <span class="password_error" style="color: red;"></span>
                                </div>
                            </div>
                            <div class="col-md-10">
                                <div class="form-group">
                                    <label>Confirm Password:</label>
                                    <div class="input-group date">
                                        <input type="password" class="form-control" name = "confirm_password" id="confirm_password" required>
                                    </div>
                                    <span class="confirm_password_error" style="color: red;"></span>
                                    <br/><span class="confirm_password_err" style="color: red;"></span>
                                </div>
                            </div>
                            <div class="col-md-10">
                                <div class="form-group">
                                    <button type="button" id="submit_confirm" onclick="submit_changePassword()" class="btn btn-primary" style="margin-top: 30px;">Submit</button>
                                </div>
                            </div>
                        </div>
                  </div> 
                </form>
              </div>
              <!-- /.card -->
            </div>
        </div>
    </div>
</section>
<script type="text/javascript">
    if('{{msg}}' != ''){
        setTimeout(function(){ location.href = '/change_password'}, 3000);
    }
</script>
{% endblock body%}
